bleach==3.0.2
boto==2.48.0
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
flake8==3.6.0
futures==3.1.1
idna==2.7
jmespath==0.9.3
mccabe==0.6.1
nose==1.3.7
pep8==1.7.0
pkginfo==1.4.2
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.2.0
python-dateutil==2.6.1
PyYAML==5.4
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.2
webencodings==0.5.1
